.wrapper {
    background-color: rgba(245, 245, 245, 1);
    margin-top: 60px;
}

.main {
    margin: 0px auto;
    width: 1100px;
    padding-top: 16px;
    padding-bottom: 120px;
    // background-color: rgb(248, 248, 248);
}

.container {
    width: 1100px;
    box-shadow: rgb(0 0 0 / 6%) 0px 2px 8px;
    border-radius: 8px;
    background-color: rgb(255, 255, 255);
    padding: 24px 56px;
    display: flex;
    flex-direction: column;
}

.content {
    display: flex;
    margin-top: 24px;
    margin-bottom: 130px;
}

.content-left {
    margin-top: 24px;
    width: 260px;
    height: 458px;
    border: 2px dashed rgba(208, 209, 211, 1);
    border-radius: 8px;
    &:hover {
        border: 2px dashed rgba(254, 44, 85, 1);
        background-color: rgb(241, 241, 242);
    }

    input {
        position: relative;
        max-width: 260px;
        height: 450px;
        z-index: 3;
        opacity: 0;
        cursor: pointer;
    }

    img {
        position: absolute;
        max-width: 260px;
        height: 455px;
        margin-left: -255px;
        border: 1px solid black;
        border-radius: 10px;
        z-index: 2;
    }
}


.content-left-main {
    position: absolute;
    margin-top: -450px;
    height: 458px;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    padding-left: 35px;
    padding-right: 35px;
    z-index: 1;
}

.content-left-main-text1 {
    font-weight: bold;
    font-size: 1.7rem;
    margin-top: 24px;
}

.content-left-main-text2 {
    margin-top: 4px;
    margin-bottom: 24px;
}

.content-left-main-text3 {
    display: contents;
    font-size: 1.4rem;
}

.btnSelect {
    margin-top: 32px;
}

.content-right {
    margin-left: 24px;
    display: flex;
    flex-direction: column;
}

.lable-item {
    font-weight: bold;
    margin-top: 20px;
}

.input-caption {
    border: 1px solid black;
    border-radius: 5px;
    width: 700px;
    height: 46px;
    font-size: 1.6rem;
    font-weight: 100;
    padding-left: 15px;
}

.person-view {
    width: 300px;
    height: 36px;
    font-size: 1.6rem;
}

.person-view option {
    width: 300px;
    height: 36px;
}

.caption_top {
    display: flex;
    justify-content: space-between;
}

.dk-caption {
    margin-top: 20px;
}